@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "slick-theme";
@import "../../node_modules/magnific-popup/dist/magnific-popup";
@import '../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal';

$root-font-size: 16;
$bg: #2C2C2C;
$brown: #B1874E;
$gray: #626266;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}

.offer-area {
  &__arrows {
    width: 10rem;
    height: 4rem;
    @media (min-width: 1200px) {
      width: s(256);
      height: s(128);
    }
    right: 0;
    bottom: 0;
  }

  &__arrow {
    cursor: pointer;
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:hover {
      opacity: .75;
    }

    &_prev {
      background: rgba(105, 105, 105, 0.21);
    }

    &_next {
      background-color: #525252;
    }
  }
}

.small-arrows {
  width: s(130);
  justify-content: space-between;
  display: flex;
  flex-shrink: 0;
  margin-bottom: 1.5rem;

  &__arrow {
    cursor: pointer;
    border-radius: s(6);
    width: s(48);
    height: s(48);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:hover {
      opacity: .75;
    }
  }
  &_prev {
    background: rgba(105, 105, 105, 0.21);
  }
  &_next {
    background-color: #525252;
  }
}

.products-carousel {
  .slick-track {
    padding-bottom: s(16);
  }
}

.arcticmodal-close {
  cursor: pointer;
  transition: .3s;
  &:hover {
    opacity: .75;
  }
}

.box-modal {
  background: #424242;
  background: rgba(66, 66, 66, 0.85);
}

.box-modal {
  width: 20rem;

  @media (min-width: 375px) {
    width: 23rem;
  }
  @media (min-width: 576px) {
    width: s(544);
  }
  @media (min-width: 768px) {
    width: s(660);
  }
}

.arcticmodal-container_i2 {
  padding: 1rem;
}

.ytp-large-play-button-bg {
  fill: $brown!important;
}

.scrollbar-track {
  border-radius: 4px;
}

.scroll-content {
  display: flex;
  flex-wrap: wrap;


  @media (min-width: 1200px) {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
}

.svg-loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.products-carousel {
  .slick-track {
    margin-left: 0;
    margin-right: 0;
  }
}

.error-block {
  display: block;
  line-height: 1.2;
  margin-top: s(8);
  font-size: s(14);

  .error {
    color: #B1874E!important;
  }
}

.artist-right {
  .svg-loader {
    position: absolute!important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.process-carousel__carousel {
  iframe {
    min-width: s(290)!important;
  }
}

.z {
  &-70 {
    z-index: 70;
  }
  &-60 {
    z-index: 60;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .6s!important;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}