@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
@import "../../node_modules/magnific-popup/dist/magnific-popup";
@import '../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal';

$root-font-size: 16;
$bg: #2C2C2C;
$brown: #B1874E;
$gray: #626266;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}

.offer-area {
  &__arrows {
    width: 10rem;
    height: 4rem;
    @media (min-width: 1200px) {
      width: s(256);
      height: s(128);
    }
    right: 0;
    bottom: 0;
  }

  &__arrow {
    cursor: pointer;
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:hover {
      opacity: .75;
    }

    &_prev {
      background: rgba(105, 105, 105, 0.21);
    }

    &_next {
      background-color: #525252;
    }
  }
}

.small-arrows {
  width: s(130);
  justify-content: space-between;
  display: flex;
  flex-shrink: 0;
  margin-bottom: 1.5rem;

  &__arrow {
    cursor: pointer;
    border-radius: s(6);
    width: s(48);
    height: s(48);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:hover {
      opacity: .75;
    }
  }
  &_prev {
    background: rgba(105, 105, 105, 0.21);
  }
  &_next {
    background-color: #525252;
  }
}

.products-carousel {
  .slick-track {
    padding-bottom: s(16);
  }
}

.arcticmodal-close {
  cursor: pointer;
  transition: .3s;
  &:hover {
    opacity: .75;
  }
}

.buy-modal, .info-modal {
  background: #424242;
  background: rgba(66, 66, 66, 0.85);
}

.box-modal {
  width: 20rem;

  @media (min-width: 375px) {
    width: 23rem;
  }
  @media (min-width: 576px) {
    width: s(544);
  }
  @media (min-width: 768px) {
    width: s(660);
  }
}

.arcticmodal-container_i2 {
  padding: 1rem;
}

.ytp-large-play-button-bg {
  fill: $brown!important;
}
