@import '../../node_modules/tailwindcss/base';
@import '../../node_modules/tailwindcss/components';

@import 'fonts';


$root-font-size: 16;
$bg: #2C2C2C;
$brown: #B1874E;
$gray: #626266;

@function s($size) {
  @return $size / $root-font-size * 1rem;
}

html {
  font-size: 88%;

  @media (min-width: 1600px) {
    font-size: 100%;
  }
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  color: white;
  font-size: s(18);
  word-wrap: break-word;
  background-color: $bg;
  line-height: 1.33;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../img/elements/main-page-bg.png);
  background-attachment: fixed;
  padding-top: 3rem;
  margin-right: 0!important;

  @media (min-width: 1400px) {
    padding-top: s(63);
  }

  @media (min-width: 1905px) {
    padding-top: 4rem;
  }
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 992px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (min-width: 1400px) {
    padding-left: s(87);
    padding-right: s(87);
  }
  @media (min-width: 1905px) {
    padding-left: s(127.5);
    padding-right: s(127.5);
  }
}

input, button {
  outline: none !important;

  &:hover {
    outline: none !important;
  }
}

p {
  margin-bottom: 1.5rem;
}

a {
  transition: .3s;
}


.bars {
  z-index: 99;
  right: 1rem;
  top: 1rem;
}

.main-nav {
  li {
    margin-right: s(28);

    &.active {
      font-weight: 500;
    }
  }
}

.switch-lang-links {
  li {
    &.active {
      font-weight: 600;
    }
  }
}

.header {
  //left: 50%;
  //transform: translateX(-50%);
  left: 0;
  right: 0;

  &__home {
    position: absolute;
    left: 0;
    width: 3rem;

    @media (min-width: 1400px) {
      width: s(43.5);
    }

    @media (min-width: 1905px) {
      width: s(63.75);
    }
  }
}

.header__inner {
  padding: 0 1rem;
  margin-left: -1rem;
  margin-right: -1rem;

  @media (min-width: 992px) {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 0 2rem;
  }

  @media (min-width: 1400px) {
    margin-left: - s(87);
    margin-right: - s(87);
    padding: 0 s(87);
  }

  @media (min-width: 1905px) {
    margin-left: - s(127.5);
    margin-right: - s(127.5);
    padding: 0 s(127.5);
  }
}

.logo {
  width: 6.5rem;
  height: 3rem;
  @media (min-width: 1400px) {
    width: s(137);
    height: s(48);
  }
}

.offer-area {
  @media (min-width: 768px) {
    margin-right: - 1rem;
  }

  @media (min-width: 992px) {
    margin-right: - 2rem;
  }

  @media (min-width: 1400px) {
    margin-right: - s(87);
  }

  @media (min-width: 1905px) {
    margin-right: - s(127.5);
  }
  z-index: 9;

  &__slide {
    height: auto;

    @media (min-width: 768px) {
      height: 26rem;
    }

    @media (min-width: 992px) {
      height: 33rem;
    }

    @media (min-width: 1200px) {
      height: 40.5rem;
    }

    @media (min-width: 1400px) {
      height: 46rem;
    }

    @media (min-width: 1905px) {
      height: s(968);
    }
  }

  &__offer {
    max-width: s(680);
  }

  &__left {
    padding-top: 2.25rem;
    padding-right: 1rem;

    @media (min-width: 768px) {
      padding-top: 6.25rem;
    }

    @media (min-width: 992px) {
      padding-top: 8.25rem;
    }

    @media (min-width: 1200px) {
      padding-top: 4.25rem;
    }

    @media (min-width: 1400px) {
      padding-top: 7.5rem;
    }
    @media (min-width: 1905px) {
      padding-top: s(230);
    }
  }

  &__title {
    line-height: 1.12;
  }

  &__right {
    background-color: black;
    width: 43rem;

    @media (min-width: 1400px) {
      width: 47rem;
    }
    @media (min-width: 1905px) {
      width: s(977);
    }
  }
}

.button-brown {
  background-color: $brown;
  border-radius: s(8);
  color: white;
  height: s(56);
  transition: .3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 s(10) s(11) s(1) rgba(0, 0, 0, 0.16);
  }

  &_h {
    &_40 {
      height: s(40);
    }
    &_48 {
      height: s(48);
    }
  }

  &_bg-transparent {
    background-color: transparent;
    border: s(1) solid $brown;
  }
}

.aside {
  width: 3rem;
  left: 0;
  top: 0;

  @media (min-width: 1400px) {
    width: s(43.5);
  }

  @media (min-width: 1905px) {
    width: s(63.75);
  }

  &__icons {
    width: 3rem;

    @media (min-width: 1400px) {
      width: s(43.5);
    }

    @media (min-width: 1905px) {
      width: s(63.75);
    }
  }

}


.social-links {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 1.5rem;

  font-size: 1.875rem;

  @media (min-width: 576px) {
    font-size: 3rem;
  }

  @media (min-width: 1600px) {
    font-size: 4rem;
  }
}

h2, .h2 {
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 1.5rem;

  font-size: 1.875rem;

  @media (min-width: 576px) {
    font-size: 2.25rem;
  }

  @media (min-width: 1600px) {
    font-size: 3rem;
  }
}

h3, .h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;

  font-size: s(24);

  @media (min-width: 768px) {
    font-size: s(32);
  }

  @media (min-width: 1600px) {
    font-size: s(36);
  }
}

h4 {
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1;
  font-size: s(22);

  @media (min-width: 1600px) {
    font-size: s(24);
  }
}

.grid-item {
  margin-bottom: s(20);
  @media (min-width: 1400px) {
    margin-bottom: s(24);
  }
}

.go-to-order {

  @media (min-width: 576px) {
    height: 21.3rem;
  }

  @media (min-width: 768px) {
    height: 16.3rem;
  }

  @media (min-width: 1400px) {
    height: 17rem;
  }

  @media (min-width: 1600px) {
    height: s(273.333);
  }

  @media (min-width: 1905px) {
    height: s(320);
  }
}

.product-item {
  flex-shrink: 0;
  &__inner {
    max-width: s(384);
    position: relative;
    transition: .6s;
  }
  &__info {
    opacity: 0;
    position: absolute;
    background-color: #2D2D2D;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s;
  }

  &__title {
    font-weight: 500;
  }

  &:hover {
    .product-item__info {
      opacity: .9;
    }
    .product-item__inner {
      box-shadow: s(8) s(10) s(15) rgba(0, 0, 0, 0.2);
    }
  }

  &__button {
    bottom: 0;
    left: 0;
    height: s(56);
    transition: .3s;
    &:hover {
      border-color: $brown;
    }
  }

  &_model {
    width: 100%;

    @media (min-width: 576px) {
      width: s(384)
    }

    .product-item__inner {
      background-color: #252525;
      transition: .3s;
      width: 100%;
    }

    &:hover {
      .product-item__inner {
        background-color: #1F1F1F;
        box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__model-name {
    font-size: s(32);
  }

  &__model-shadow {
    transform: scale(.9);
    transition: .6s;
  }
  &:hover {
    .product-item__model-shadow {
      transform: scale(1);
    }
  }

  .model-check:checked + .product-item__inner .product-item__model-shadow {
    transform: scale(1);
  }

  &__hover-img {
    transform: translateY(-100%);
    opacity: 0;
    transition: 1s;
    position: absolute;
  }
  &:hover {
    .product-item__hover-img {
      opacity: 1;
    }
  }
}

.artists {
  &__left {
    @media (min-width: 1200px) {
      padding-top: s(105);
    }
  }
  &__desc {
    @media (min-width: 1200px) {
      max-width: s(358);
    }
  }
  &__right {
    width: s(1380);
    overflow: hidden;

    @media (min-width: 1200px) {
      margin-right: -2rem;
    }

    @media (min-width: 1400px) {
      margin-right: - s(87);
    }

    @media (min-width: 1905px) {
      margin-right: - s(127.5);
    }

  }
  &__list {

    .scroll-content {
      flex-direction: column;
    }

    &-wrap {
      height: s(300);
    }

    li {
      cursor: pointer;
      font-size: s(18);
      transition: .3s;
    }

    li.active {

      font-weight: 600;
      font-size: s(24);
      pointer-events: none;
      cursor: none;
    }
  }
}

.artist-photo-2 {
  img {
    max-width: s(768);
  }
}

.artist-item {
  transition: .3s;
  padding: s(60) s(24) s(60) 0;

  @media (min-width: 992px) {
    padding: s(120) s(36) s(105) s(36);
  }

  &__img {
    width: s(384);
    height: s(592);
    flex-shrink: 0;
    transition: .3s;
  }

  &__desc {
    max-width: s(612);
  }
}

.footer {
  background-color: #202020;
}

.process {
  bottom: s(1);
  z-index: 0;

  @media (min-width: 1200px) {
    width: 52.7%;
    left: - 2rem;
  }
  @media (min-width: 1400px) {
    width: 52.3%;
    left: - s(43.5);
  }
  @media (min-width: 1600px) {
    width: 52.55%;
  }

  @media (min-width: 1905px) {
    width: 48.2%;
    left: - s(63.75);
  }


  &__left {
    @media (min-width: 1200px) {
      background-color: #1A1A1A;
    }
  }

  &__right {
    width: s(312);
    height: 14rem;

    @media (min-width: 992px) {
      height: auto;
    }
  }

  &__title {
    font-size: 1.875rem;
    line-height: 1.33;
    font-weight: 700;

    @media (min-width: 576px) {
      font-size: 2.25rem;
    }
    @media (min-width: 1200px) {
      font-size: s(24);
      font-weight: 500;
    }
    @media (min-width: 1400px) {
      font-size: s(28);
    }
    @media (min-width: 1905px) {
      font-size: s(32);
    }
  }
}

.more {
  &__arrow {
    transition: .3s;
    transform: translateX(0);
  }

  &:hover {
    .more__arrow {
      transform: translateX(1rem);
    }
  }
}

.play-icon {
  width: s(48);
  height: s(48);
  background: rgba(255, 0, 0, 0.8);
  border-radius: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hover-effect {
  transition: .3s;
  &:hover {
    filter: brightness(.75);
  }
}

.breadcrumb {
  color: #8E8E8E;

  li:not(:last-child) {
    &::after {
      content: ' — ';
      display: inline-flex;
      margin: 0 s(8);
    }
  }
}

.param-button {
  font-size: s(14);

  @media (min-width: 375px) {
    font-size: s(16);
  }

  @media (min-width: 495px) {
    width: auto;
  }

  &__checkbox-custom {
    cursor: pointer;
    background-color: #434343;
    border-radius: s(6);
    height: s(40);
    transition: .3s;

    @media (min-width: 495px) {
      min-width: s(126);
    }
    &:hover {
      background: #6A6A6A;
    }
  }

  &.active {
    .param-button__checkbox-custom {
      background-color: #D0D0D0;
      color: #252525;
      pointer-events: none;
    }
  }
}

.param-button__checkbox:checked + .param-button__checkbox-custom {
  background-color: #D0D0D0;
  color: #252525;
}

.form-input {
  width: 100%;
  height: s(40);
  background: #ffffff;
  border-radius: s(6);
  padding: 0 s(16);
  color: $bg;
  font-weight: 300;
  font-size: s(14);

  &.error {
    box-shadow: 0 0 0 2px $brown;
  }
}

.form-textarea {
  color: $bg;
  font-weight: 300;
  height: s(136);
  resize: none;
  font-size: s(14);
}

.form-comment-wrap {
  border-radius: s(6);
  background: #ffffff;
  padding: s(16) s(16);
}

.map-container {
  height: s(350);
  @media (min-width: 576px) {
    height: s(500);
  }
  @media (min-width: 992px) {
    height: 100%;
  }
}

.dialer-item {
  max-width: s(416);
}

.contacts-form {
  @media (min-width: 992px) {
      max-width: 18rem;
  }
}

.clearfix::after {
  content: '';
  display: table;
  width: 100%;
}

.process-grid__item {
  &_sm {
    float: left;
    width: 50%;
    @media (min-width: 450px) {
      width: 33.33%;
    }
    @media (min-width: 768px) {
      width: 25%;
    }
    @media (min-width: 992px) {
      width: auto;
    }
    img {
      width: s(227);

      @media (min-width: 992px) {
        height: s(368);
      }
    }
  }
  &_md {
    float: left;
    width: 50%;
    @media (min-width: 450px) {
      width: 33.33%;
    }
    @media (min-width: 768px) {
      width: 45%;
    }
    @media (min-width: 992px) {
      width: auto;
    }
    img {
      width: s(353);

      @media (min-width: 992px) {
        height: s(752);
      }
    }
  }
  &_lg {
    float: left;
    width: 50%;
    @media (min-width: 450px) {
      width: 33.33%;
    }
    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 992px) {
      width: auto;
    }
    img {
      width: s(470);

      @media (min-width: 992px) {
        height: s(368);
      }
    }
  }
}

.custom-item {
  font-size: s(16);
  @media (min-width: 1600px) {
    font-size: s(18);
  }

  &_bg {
    background: rgba(66, 66, 66, 0.7);
    position: static;
    margin-top: s(16);
    max-width: 35rem;

    @media (min-width: 1200px) {
      position: absolute;
      margin-top: 0;
    }

    label:first-child {
      margin-top: s(8);
    }

    .custom-item__content {
      display: none;
      
      @media (min-width: 1200px) {
          display: block!important;
      }

      &.open {
        display: block;
      }
    }

  }

  &__dots-wrap {
    &::before {
      position: absolute;
      content: '';
      display: none;
      height: s(2);
      top: s(24);
      left: - s(30);
      transform: translateX(-100%);
      border-top: s(2) dashed rgba(245, 245, 245, 0.7);

      @media (min-width: 1200px) {
        display: block;
      }
    }
    
    &::after {
      content: '';
      position: absolute;
      display: none;
      background: #DADADA;
      width: s(40);
      height: s(40);
      border-radius: 50%;
      border: s(10) solid rgba(177, 135, 78, 0.7);
      top: s(4);

      @media (min-width: 1200px) {
        display: block;
      }
    }
  }

  &_fretboard {
    right: 0;
    top: - s(90);

    @media (min-width: 1200px) {
      max-width: s(380);
    }

    .custom-item__dots-wrap {
      &::before {
        width: s(66);
      }
      &:after {
        left: - s(140);
      }
    }
  }

  &_dots {
    right: s(55);
    top: s(130);

    .custom-item__dots-wrap {
      &::before {
        width: s(258);
      }
      &:after {
        left: - s(330);
      }
    }
  }

  &_pickgard {
    right: s(55);
    min-width: s(187);
    top: 16.6rem;

    .custom-item__dots-wrap {
      &::before {
        width: s(125);
      }
      &:after {
        left: - s(200);
      }
    }
  }

  &_pickups {
    right: s(24);
    top: s(480);
    min-width: s(224);

    .custom-item__dots-wrap {
      &::before {
        width: s(214);
      }
      &:after {
        left: - 18rem;
      }
    }
  }

  &_top {
    left: s(127);
    top: s(30);

    @media (min-width: 1600px) {
      left: s(30);
    }

    @media (min-width: 1905px) {
      left: s(127);
    }

    .custom-item__dots-wrap {
      &::before {
        width: s(170);
        left: auto;
        right: - s(30);
        transform: translateX(100%);

        @media (min-width: 1600px) {
          width: s(70);
        }

        @media (min-width: 1905px) {
          width: s(170);
        }

      }
      &:after {
        left: 22.5rem;

        @media (min-width: 1600px) {
          left: 17rem;
        }

        @media (min-width: 1905px) {
          left: 22.5rem;
        }
      }
    }
  }

  &_body {
    top: s(170);
    left: s(53);

    @media (min-width: 1200px) {
      width: s(277);
    }

    @media (min-width: 1600px) {
      left: 0;
    }

    @media (min-width: 1905px) {
      left: s(53);
    }

    .custom-item__dots-wrap {
      &::before {
        width: s(192);
        left: auto;
        right: - s(30);
        transform: translateX(100%);

        @media (min-width: 1600px) {
          width: s(63);
        }

        @media (min-width: 1905px) {
          width: s(192);
        }
      }
      &:after {
        left: 28.5rem;

        @media (min-width: 1600px) {
          left: 20.5rem;
        }

        @media (min-width: 1905px) {
          left: 28.5rem;
        }
      }
    }
  }

  &_bridge {
    top: s(570);
    left: 0;

    @media (min-width: 1200px) {
      width: s(277);
    }

    .custom-item__dots-wrap {
      &::before {
        width: s(254);
        left: auto;
        right: - s(30);
        transform: translateX(100%);

        @media (min-width: 1600px) {
          width: s(85);
        }

        @media (min-width: 1905px) {
          width: s(254);
        }

      }
      &:after {
        left: 32.5rem;

        @media (min-width: 1600px) {
          left: 22rem;
        }

        @media (min-width: 1905px) {
          left: 32.5rem;
        }
      }
    }
  }

}

label.disabled {
  color: #6A6A6A;
  .check-custom {
    border-color: #6A6A6A;
  }
}

.check-custom {
  width: s(24);
  height: s(24);
  border-radius: s(4);
  border: s(1) solid #fff;
  position: relative;
  flex-shrink: 0;

  &_sm {
    width: s(16);
    height: s(16);
  }
}

.check + .check-custom::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: s(2);
  transition: .3s;
}

.check:checked + .check-custom::after {
  width: s(12);
  height: s(12);
}

.check:checked + .check-custom_sm::after {
  width: s(8);
  height: s(8);
}

.custom-tabs {
  &__tab {
    opacity: .9;
    height: s(40);
    font-size: s(16);
    font-weight: 500;
    line-height: .9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: s(16);
    border-top-left-radius: s(16);

    @media (min-width: 576px) {
      height: s(64);
    }

    @media (min-width: 768px) {
      font-size: s(32);
    }

    &.active {
      background-color: #424242;
      pointer-events: none;
    }
  }

  &__content {
    label {
      cursor: pointer;
    }
  }

  &__content:not(.active) {
    display: none;
  }

  &__panel-wrap {
    border-radius: 0 0 s(16) s(16);
    @media (min-width: 576px) {
      border-radius: 0 s(16) s(16) s(16);
    }
  }

  &__panel {
    z-index: 2;
  }

  &__bg {
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%) rotate(- 67deg) scale(1.8);
    z-index: 1;
    
    @media (min-width: 768px) {
      transform: translate(-50%, -50%) rotate(0) scale(1);
    }
  }

}

.models-process-item {

  &__desc {
    transition: .3s;
    opacity: 0;
  }

  &:hover {
    .models-process-item__desc {
      opacity: 1;
    }
  }
}

.specifications {
  opacity: .9;

  @media (min-width: 1400px) {
    width: s(380);
  }
  @media (min-width: 1600px) {
    width: s(388);
    //top: 13rem;
  }

  @media (max-width: 1400px) {
    width: auto!important;
    position: static!important;
  }
}

.custom-calc-panel {
  opacity: .9;
}

.process-block {
  &__left {
    width: 66.666%;
    flex-shrink: 0;
  }
  &__right {
    width: 33.333%;
    flex-shrink: 0;
  }
}

.videos-left {
  @media (min-width: 1200px) {
    height: 34rem;
  }

  @media (min-width: 1400px) {
    height: 37rem;
  }

  @media (min-width: 1600px) {
    height: 37.3rem;
  }

  @media (min-width: 1905px) {
    height: 43.25rem;
  }

  &__inner {
    overflow-y: scroll;

    height: s(200);

    @media (min-width: 576px) {
      height: s(390);
    }

    @media (min-width: 768px) {
      height: s(390);
    }

    @media (min-width: 992px) {
      height: s(390);
    }

    @media (min-width: 1200px) {
      height: 100%;
    }
  }
}

.videos-item {
  width: 50%;
  padding-left: s(8);
  padding-right: s(8);

  @media (min-width: 768px) {
    width: 33.3333%;
  }

  @media (min-width: 1200px) {
    height: 8.4375rem;
    width: 15rem;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 1400px) {
    width: 16.4rem;
    height: 9.225rem;
  }

  @media (min-width: 1600px) {
    width: s(267);
    height: s(150);
  }

  @media (min-width: 1905px) {
    width: s(320);
    height: s(180);
  }

  img {
    border-radius: s(6);
  }
}

.videos-right {
  iframe {
    width: 100%;
  }
}

.mobile-menu {
  z-index: 9999;

  li.active {
    font-weight: 500;
  }
}

.mobile-menu {
  display: none;
}

.years {
  position: relative;

  &__shadow {
    position: absolute;
    height: s(32);
    width: s(32);
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, rgba(44,44,44,1), transparent);
    z-index: 2;
  }
}

.year-item {
  width: s(108);
  flex-grow: 1;
  flex-shrink: 0;
  @media (min-width: 992px) {
      flex-shrink: 1;
  }
}

.year-custom {
  width: 100%;
  position: relative;
  border-top: s(1) solid #AFAFAF;
  transition: .3s;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: s(16);
    height: s(16);
    left: 50%;
    top: 0;
    background: #C4C4C4;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: s(16);
    height: s(16);
    background: #B1874E;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: .3s;
  }
}

.year:checked {
  & + .year-custom {
    pointer-events: none;
    color: #B1874E;
    &::before {
      background-color: $bg;
    }
    &::after {
      animation: year;
      animation-duration: .3s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
    }
  }
}

@keyframes year {
  from {
    width: s(16);
    height: s(16);
  }
  to {
    width: s(32);
    height: s(32);
    opacity: 1;
  }
}

.years-shadow {
  width: s(32);
}

main {
  min-height: s(1100);
  overflow: hidden;
}

.artist-social {
  width: 3rem;
  height: 3rem;
}

.preorder-left-content {
  @media (min-width: 1200px) {
    height: s(900);
  }
}

.props-area {
  &.order-ready {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

    @media (min-width: 1200px) {
      animation-name: props-hide;
    }
  }
  &.order-ready-no {
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-delay: .8s;
    animation-timing-function: ease-out;

    @media (min-width: 1200px) {
      animation-name: props-show;
    }
  }
}

@keyframes props-hide {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes props-show {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 1;
  }
}


.guitar-area {
  width: 100%;
  height: 44rem;
  margin-left: auto;
  margin-right: auto;

  &__bg {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;

    @media (min-width: 768px) {
      background-size: auto;
    }

    @media (min-width: 1200px) {
      background-size: auto;
    }
  }

  @media (min-width: 768px) {
    height: s(1090);
  }

  @media (min-width: 1200px) {
    margin-right: 0;
    width: s(881);
    height: s(2050);
    right: s(83);
    transform: translateY(-70rem) translateX(0) rotate(0) scale(1);
  }
  @media (min-width: 1400px) {
    height: 128rem;
    transform: translateY(-69rem) translateX(0) rotate(0) scale(1);
  }
  @media (min-width: 1600px) {
    height: s(1800);
    margin-right: s(32);
    right: 0;
    transform: translateY(-58rem) translateX(0) rotate(0) scale(1);
  }

  &.order-ready {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

    @media (min-width: 1200px) {
      animation-name: order-ready-xl;
    }

    @media (min-width: 1400px) {
      animation-name: order-ready-xxl;
    }

    @media (min-width: 1600px) {
      animation-name: order-ready-3xl;
    }

    @media (min-width: 1920px) {
      animation-name: order-ready-hd;
    }
  }

  &.order-ready-no {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

    @media (min-width: 1200px) {
      animation-name: order-ready-no-xl;
    }

    @media (min-width: 1400px) {
      animation-name: order-ready-no-xxl;
    }

    @media (min-width: 1600px) {
      animation-name: order-ready-no-3xl;
    }

    @media (min-width: 1920px) {
      animation-name: order-ready-no-hd;
    }
  }


}

@keyframes order-ready-hd {
  from {
    transform: translateY(-58rem) translateX(0) rotate(0) scale(1);
  }
  to {
    transform: translateY(-41rem) translateX(-10rem) rotate(70deg) scale(.7);
  }
}

@keyframes order-ready-no-hd {
  from {
    transform: translateY(-41rem) translateX(-10rem) rotate(70deg) scale(.7);
  }
  to {
    transform: translateY(-58rem) translateX(0) rotate(0) scale(1);
  }
}

@keyframes order-ready-3xl {
  from {
    transform: translateY(-58rem) translateX(0) rotate(0) scale(1);
  }
  to {
    transform: translateY(-41rem) translateX(-6rem) rotate(70deg) scale(.6);
  }
}

@keyframes order-ready-no-3xl {
  from {
    transform: translateY(-41rem) translateX(-6rem) rotate(70deg) scale(.6);
  }
  to {
    transform: translateY(-58rem) translateX(0) rotate(0) scale(1);
  }
}

@keyframes order-ready-xxl {
  from {
    transform: translateY(-69rem) translateX(0) rotate(0) scale(1);
  }
  to {
    transform: translateY(-41rem) translateX(-6rem) rotate(70deg) scale(.75);
  }
}

@keyframes order-ready-no-xxl {
  from {
    transform: translateY(-41rem) translateX(-6rem) rotate(70deg) scale(.75);
  }
  to {
    transform: translateY(-69rem) translateX(0) rotate(0) scale(1);
  }
}

@keyframes order-ready-xl {
  from {
    transform: translateY(-69rem) translateX(0) rotate(0) scale(1);
  }
  to {
    transform: translateY(-41rem) translateX(-6rem) rotate(70deg) scale(.65);
  }
}

@keyframes order-ready-no-xl {
  from {
    transform: translateY(-41rem) translateX(-6rem) rotate(70deg) scale(.65);
  }
  to {
    transform: translateY(-69rem) translateX(0) rotate(0) scale(1);
  }
}



.color-check__custom {
  border: s(2) solid transparent;
}

.color-check:checked + .color-check__custom {
  border: s(2) solid #B1864E;
}