<!DOCTYPE html>
<html lang="ru">
//= templates/head.html
<body class="relative">
//= templates/header.html
<main class="container relative pb-16 lg:pb-24" id="app">
    //= templates/aside.html
    //= templates/breadcrumb.html
    <h1 class="h3">
        Lepsky Model F
    </h1>
    <form>
        <div class="flex flex-wrap -mx-4">
            <div class="w-full 3xl:w-9/12 px-4">
                <div class="preorder-left-content mx-auto relative" style="max-width: 76.875rem">
                    <div :class="readyToOrderClass" class="guitar-area xl:absolute right-0 3xl:mr-10 border-white">
                        <div class="relative w-full h-full">
                            <div class="guitar-area__bg absolute w-full h-full z-70">

                            </div>
                            <div class="guitar-area__bg absolute w-full h-full z-60" :style="{ backgroundImage: `url('${selected.bridge.img}')` }">

                            </div>
                            <div class="guitar-area__bg absolute w-full h-full z-50" :style="{ backgroundImage: `url('${selected.dots.img}')` }">

                            </div>
                            <div class="guitar-area__bg absolute w-full h-full z-40" :style="{ backgroundImage: `url('${selected.fretboard.img}')` }">

                            </div>
                            <div class="guitar-area__bg absolute w-full h-full z-30" :style="{ backgroundImage: `url('${selected.pickups.img}')` }">

                            </div>
                            <div class="guitar-area__bg absolute w-full h-full z-20" :style="{ backgroundImage: `url('${selected.pickgard.img}')` }">

                            </div>
                            <div class="guitar-area__bg absolute w-full h-full z-10" :style="{ backgroundImage: `url('${selected.top.img}')` }">

                            </div>
                            <div class="guitar-area__bg absolute w-full h-full z-0" :style="{ backgroundImage: `url('${selected.body.img}')` }">

                            </div>
                        </div>
                    </div>
                    <div :class="readyToOrderClass" class="props-area xl:absolute top-0 h-full w-full">
                        <div class="relative w-full h-full">
                            <div class="custom-item custom-item_bg custom-item_fretboard rounded-2xl lg:absolute px-6 pt-2 pb-2 xl:pb-4">
                                <div class="custom-item__dots-wrap relative">
                                    <div class="custom-item__caption text-2xl">
                                        Гриф
                                    </div>
                                    <div class="custom-item__content">
                                        <label v-for="fretboard in fretboards" class="flex items-center cursor-pointer mt-4">
                                            <input @change="setFretboard" v-model="selected.fretboard.nameVal" :value="fretboard.nameVal" name="fretboard" type="radio" class="check hidden">
                                            <span class="check-custom check-custom_sm mr-2"></span>
                                            <span>
                                            {{ fretboard.nameVal }}
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-item custom-item_bg custom-item_dots rounded-2xl lg:absolute px-6 pt-2 pb-2 xl:pb-4">
                                <div class="custom-item__dots-wrap relative">
                                    <div class="custom-item__caption text-2xl">
                                        Маркеры
                                    </div>
                                    <div class="custom-item__content">
                                        <label v-for="dot in dots" class="flex items-center cursor-pointer mt-4">
                                            <input @change="setDots" v-model="selected.dots.nameVal" :value="dot.nameVal" name="dots" type="radio" class="check hidden">
                                            <span class="check-custom check-custom_sm mr-2"></span>
                                            <span>
                                            {{ dot.nameVal }}
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-item custom-item_bg custom-item_pickgard rounded-2xl lg:absolute px-6 pt-2 pb-2 xl:pb-4">
                                <div class="custom-item__dots-wrap relative">
                                    <div class="custom-item__caption text-2xl">
                                        Пикгард
                                    </div>
                                    <div class="custom-item__content">
                                        <label v-for="pickgard in pickgards" class="flex items-center cursor-pointer mt-4">
                                            <input @change="setPickgard" v-model="selected.pickgard.nameVal" :value="pickgard.nameVal" name="pickgard" type="radio" class="check hidden">
                                            <span class="check-custom check-custom_sm mr-2"></span>
                                            <span>
                                            {{ pickgard.nameVal }}
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-item custom-item_bg custom-item_pickups rounded-2xl lg:absolute px-6 pt-2 pb-2 xl:pb-4">
                                <div class="custom-item__dots-wrap relative">
                                    <div class="custom-item__caption text-2xl">
                                        Звукосниматели
                                    </div>
                                    <div class="custom-item__content">
                                        <label @change="setPickups" v-if="selected.pickgard.nameVal == 'Без пикгарда' "  v-for="pickup in pickups.noPickgard"
                                               class="flex items-center cursor-pointer mt-4">
                                            <input v-model="selected.pickups.nameVal" :value="pickup.nameVal" name="pickups" type="radio" class="check hidden">
                                            <span class="check-custom check-custom_sm mr-2"></span>
                                            <span>
                                            {{ pickup.nameVal }}
                                        </span>
                                        </label>
                                        <label @change="setPickups" v-if="selected.pickgard.nameVal != 'Без пикгарда' " v-for="pickup in pickups.withPickgard"
                                               class="flex items-center cursor-pointer mt-4">
                                            <input v-model="selected.pickups.nameVal" :value="pickup.nameVal" name="pickups" type="radio" class="check hidden">
                                            <span class="check-custom check-custom_sm mr-2"></span>
                                            <span>
                                            {{ pickup.nameVal }}
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-item custom-item_bg custom-item_top rounded-2xl lg:absolute px-6 pt-2 pb-2 xl:pb-4">
                                <div class="custom-item__dots-wrap relative">
                                    <div class="custom-item__caption text-2xl">
                                        Топ
                                    </div>
                                    <div class="custom-item__content">
                                        <label v-for="top in tops" class="flex items-center cursor-pointer mt-4">
                                            <input @change="setTop" v-model="selected.top.nameVal" :value="top.nameVal" name="top" type="radio" class="check hidden">
                                            <span class="check-custom check-custom_sm mr-2"></span>
                                            <span>
                                            {{ top.nameVal }}
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <transition name="fade">
                                <div v-if="selected.top.nameVal == 'Без топа'" class="custom-item custom-item_bg custom-item_body rounded-2xl lg:absolute px-6 pt-2 pb-2 xl:pb-4">
                                    <div class="custom-item__dots-wrap relative">
                                        <div class="custom-item__caption text-2xl">
                                            Цвет корпуса
                                        </div>
                                        <div class="custom-item__content">
                                            <div class="mt-3">
                                                Матовая эмаль
                                            </div>
                                            <div class="">
                                                <div class="flex flex-wrap -mx-1">
                                                    <div v-for="body in bodies.mate" class="px-1 mt-2">
                                                        <label class="cursor-pointer">
                                                            <input @change="setBodyMate" v-model="selected.body.nameVal" :value="body.nameVal" name="body" type="radio" class="color-check hidden">
                                                            <span class="color-check__custom block w-10 h-10 rounded-full bg-cover bg-no-repeat"
                                                                  :style="{ backgroundImage: 'url('+ body.roundImg +')' }"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                Перламутр
                                            </div>
                                            <div class="">
                                                <div class="flex flex-wrap -mx-1">
                                                    <div v-for="body in bodies.perl" class="px-1 mt-2">
                                                        <label class="cursor-pointer">
                                                            <input @change="setBodyPerl" v-model="selected.body.nameVal" :value="body.nameVal" name="body" type="radio" class="color-check hidden">
                                                            <span class="color-check__custom block w-10 h-10 rounded-full bg-cover bg-no-repeat"
                                                                  :style="{ backgroundImage: 'url('+ body.roundImg +')' }"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </transition>
                            <div class="custom-item custom-item_bg custom-item_bridge rounded-2xl lg:absolute px-6 pt-2 pb-2 xl:pb-4">
                                <div class="custom-item__dots-wrap relative">
                                    <div class="custom-item__caption text-2xl">
                                        Бридж
                                    </div>
                                    <div class="custom-item__content">
                                        <label v-for="bridge in bridges" class="flex items-center cursor-pointer mt-4">
                                            <input @change="setBridge" v-model="selected.bridge.nameVal" :value="bridge.nameVal" name="bridge" type="radio" class="check hidden">
                                            <span class="check-custom check-custom_sm mr-2"></span>
                                            <span>
                                            {{ bridge.nameVal }}
                                        </span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full xl:w-5/12 3xl:w-3/12 px-4 mt-4">
                <div class="custom-calc-panel rounded-2xl bg-dark-42 py-6 pb-8 px-4 sm:px-8" style="max-width: 35rem">
                    <div class="font-medium text-2xl">
                        Lepsky Model F
                    </div>
                    <div class="custom-calc-panel__props text-sm flex flex-wrap -mx-4">
                        <div v-for="select in selected" class="w-full sm:w-1/2 lg:w-1/3 xxl:w-full px-4 mt-4">
                            {{ select.name }}: {{ select.nameVal }}
                        </div>
                    </div>
                    <div class="text-2xl font-medium mt-4">
                        Цена: <span class="total-price">{{ totalPrice }}</span>&nbsp;руб.
                    </div>
                    <div @click="changeOrderReady" :class="{'button-brown_bg-transparent': readyToOrder}" class="button-brown hidden xl:flex items-center justify-center font-medium xxl:w-full mt-5 px-12">
                        {{ !readyToOrder ? "К оформлению" : "Редактировать заказ" }}
                    </div>
                    <transition name="fade">
                        <div v-show="readyToOrder == true" class="button-brown hidden xl:flex items-center justify-center font-medium xxl:w-full order mt-5 px-12">
                            Оформить заказ
                        </div>
                    </transition>
                    <div class="button-brown flex xl:hidden items-center justify-center font-medium xxl:w-full order mt-5 px-12">
                        Оформить заказ
                    </div>
<!--                    <pre class="mt-20">-->
<!--                      {{ $data | json }}-->
<!--                  </pre>-->
                </div>
            </div>
        </div>
        <div class="mt-12">
            <h2>
                Информация о процессе заказа
            </h2>
            <div style="max-width: 61rem">
                <p>
                    Цельный гриф с накладкой или без, всегда 22 лада, гриф на винтах - основные характеристики S model.
                    Бридж может быть выбран фиксированный, тремоло или Флойд Роуз.
                    Классический вариант с электроникой под пикгардом или современный вариант без пластиковых панелей на корпусе, на выбор заказчика.
                </p>
            </div>
        </div>
        <div style="display: none;">
            <div class="box-modal order-modal rounded-lg px-4 pb-8 pt-4 sm:pt-3 sm:pb-10">
                <div>
                    <svg class="box-modal_close arcticmodal-close  ml-auto" width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.53731 19.232L12.0013 14.672L16.4893 19.232L17.3533 18.368L12.7933 13.88L17.3773 9.392L16.4893 8.528L12.0013 13.088L7.51331 8.528L6.64931 9.392L11.2093 13.88L6.64931 18.368L7.53731 19.232Z" fill="white"/>
                        <circle cx="12" cy="14" r="11.5" stroke="white"/>
                    </svg>
                </div>
                <div class="text-center font-medium text-3xl sm:text-4xl mx-auto leading-none mt-4" style="max-width: 30rem">
                    Для оформления заказа заполните форму
                </div>
                <div class="mx-auto mt-8" style="max-width: 24rem">
                    <div class="form-group">
                        <label for="custom-name" class="text-gray-81 text-sm">
                            Ваши Фамилия и Имя*
                        </label>
                        <div class="mt-2">
                            <input type="text" name="name" id="custom-name" class="form-input placeholder-gray-99" placeholder="Иванов Иван">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="custom-phone" class="text-gray-81 text-sm">
                            Ваш номер телефона
                        </label>
                        <div class="mt-2">
                            <input type="text" name="tel" id="custom-phone" class="form-input placeholder-gray-99" placeholder="+7 (___) ___ __ __">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="custom-city" class="text-gray-81 text-sm">
                            Ваш город
                        </label>
                        <div class="mt-2">
                            <input type="text" name="email" id="custom-city" class="form-input placeholder-gray-99" placeholder="Краснодар">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="custom-email" class="text-gray-81 text-sm">
                            Ваш адрес электронной почты*
                        </label>
                        <div class="mt-2">
                            <input type="text" name="email" id="custom-email" class="form-input placeholder-gray-99" placeholder="ivanov@yandex.ru">
                        </div>
                    </div>
                    <div class="form-group mt-8">
                        <button type="submit" class="button-brown button-brown_h_48 mt-4 w-full flex items-center justify-center font-medium">
                            Заказать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
//= templates/footer.html
//= templates/scripts.html
<script src="js/lodash.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="js/preorder.js"></script>
</body>

</html>